
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Data & artifacts
data/raw/
data/interim/
data/external/
artifacts/
*.joblib
*.pkl

# OS
.DS_Store
Thumbs.db

# Python notebooks checkpoints
.ipynb_checkpoints/
